<div class="ft-menu">
  <div class="ft-menu-t">お支払い方法</div>
  <div class="ft-menu-t">配送方法・送料について</div>
  <div class="ft-menu-t">出品に関する規約</div>
  <div class="ft-menu-t">プライバシーポリシー</div>
</div>

 <div class="copyright">Copyright (C)goodlifestandard All Rights Reserved.</div>