html{
  font-size: 62.5%;
}

body{
  color: #000;
  font-size: 1.5rem;
}


.main{
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}




.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.sign_up {
    float: right;
   text-align: right;
    padding-right: 2rem;
    display: block;
   font-size: 20px;
   ;
}


.sign-up a{
  text-decoration: underline;
  color: #000;
}

.log_out {
  background: #eee;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  margin: 2rem;
  text-decoration: none!important;
  width: 5%;
  float: right;
  clear: right;
  display: block;
}

.log_out:after, .sign-up:after{
  content: '';
    display: table;
    clear: both;
}

.logo{
  margin: 0auto;
  text-align: center;
}

.logo img{
  width: 25%;
  height: auto;

}

.gnav {
  margin: 50px auto;
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.gnav li{
  list-style: none;
  width: 350px;
    text-align: center;
}

.gnav a{
  padding: 20px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

.newitems {
  margin: 15rem 0 1.5rem;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.brand-list{
  color: #000;
}

.product {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.productBox, .item-lists .list {
  width: 25%;
  margin: 20px;
  text-align: center;
}

.productName, .price, .item-name {
  display: block;
  margin: 10px;
  text-align: left;
  padding-left: 3rem;
}

.price, .item-price {
  font-weight: bold;
  font-size: 20px;
}

footer {
  max-width: 1200px;
  margin: 200px auto 0;
}

.bland .title {
  border-bottom: 1px solid #000;
  padding: 0 0 1.5rem 0;
  font-size: 1.7rem;
    font-weight: bold;
}

.bland-list{
  display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-top: 2.5rem;
    padding-left: 0;
}

.bland-list li{
    cursor: pointer;
    width: calc(100% / 5);
    margin-bottom: 1.5rem;
    padding: 0 2rem;
    box-sizing: border-box;
    list-style: none;

}

.ft-menu {
  margin-top: 10rem;
  text-align: left;
  width: 100%;
}


.list-pict, .item-img {
    width: 75%;

    
}


.ad-contents {
  width: 100vw;
  background-image: image-url('furima-header02.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}



.gnav {
  margin-top: 50px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}



.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}


.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}



.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}



.item-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.item-lists>.list {
  list-style: none;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}


.sold-out {
  position: absolute;
  top: 40%;
  width: 20%;
  text-align: center;
  background-color: crimson;

}

.sold-out>span {
  color: #FFF;
  font-size: 1.5rem;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  padding-left: 0;
  font-weight: normal;
}

.item-price {
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}


 .title-contents {
   clear: both;
 }

 .sell_btn{
    width: 170px;
    position: fixed;
    right: -3rem;
    bottom: 15rem;
    z-index: 1;
    font-size: larger;
    background:#444444;
    list-style: none;
    text-align: center;
    height: 200px;
    
  }

 
.purchase-btn{
  color:white;
  font-size: 2vh;
  margin-top: 40%;
  margin-right: 15px;
  display: block;
}

.copyright{
  font-size: 1.3px;
  text-align: center;
  margin: 10px;
}

.ft-menu-t{
  font-size: 13px;
  cursor: pointer;
  margin: 10px;
}

@media (min-width: 769px) {
  .main{
     max-width: 1000px; 

  }  

.sp{
  display: none;
}


}



@media (max-width: 768px) {
  .sp{
    display: block;
  }

.pc{
  display: none;
}

.gnav{
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.gnav li{
  width: 9rem;
  margin: 1rem;
}

.newitems{
  margin: 7rem 0 1.5rem;
}

.product{
  flex-wrap: wrap;
  justify-content: start;
}

.productBox{
  width: 47%;
  margin: 0.5rem;
}

.productName, .price, .item-name{
  padding-left: 1rem;

}

.productName{
  font-size: 1.3rem;
}

.purchase-btn{
  margin-top: 2.5rem;
}
.sell_btn{
  height: 100px;
}

.bland-list{
  flex-wrap: wrap;
}

.bland-list li{
  width: calc(100% / 3);
}

footer{
  width: 100%;
  margin-top: 10rem;
}

.ft-menu{
  margin: 5rem 0 3rem;
}

}